* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
.outsideFrame {
    width: 1250px;
    margin: 0 auto;
}
.bgw {
    background-color: rgb(255,255,255);
}
.bgg {
    background-color: rgb(245,245,245);
}
.bgb {
    background-color: rgb( 51, 51, 51);
    width: auto;
}
.bgMiOrange {
    background-color: rgb(255,103,  0);
}
.miOrange {
    color: rgb(255,103,  0);
}
.leftFloat {
    float: left;
}
.rightFloat {
    float: right;
}
.cl {
    clear: both;
}

.titleBar {
    text-decoration: none;
    font-size: 13px;
    line-height: 40px;
    height: 40px;
    color: rgb(176,176,176);
}
.titleBar > div:nth-child(1) {
    width: 1000px;
}
.titleBar > div:nth-child(2) {
    width: 100px;
}
.titleBar > div:nth-child(3) {
    width: 150px;
}
.titleBar > div:nth-child(1) li, .titleBar > div:nth-child(3) li, .titleBar > div:nth-child(2) div {
    float: left;
}
.divLine {
    color: rgb( 66, 66, 66);
    margin: 0 5px;
}
.cartBackground {
    width: 100px;
    background-color: rgb( 66, 66, 66);
}
.cartBackground img {
    position: relative;
    top: 5px;
    margin-right: 8px;
    margin-left: 8px;
}

.headBar {
    position: relative;
    height: 100px;
}
.headBar > div:nth-child(1) {
    position: absolute;
    top: 22px;
    width: 56px;
}
.headBar > div:nth-child(2) {
    position: absolute;
    left: 230px;
    top: 31px;
    font-size: 17px;
}
.headBar > div:nth-child(2) li {
    float: left;
    margin: 10px;
}  
.headBar > div:nth-child(3) {
    position: relative;

}
.searchInput {
    position: relative;
    top: 25px;
    left:950px;
    border: 1px solid rgb(224,224,224);
    width: 248px;
    height: 48px;
}
.searchSubmit {
    position: relative;
    top: 25px;
    left: 946px;
    border: 1px solid rgb(224,224,224);
    width: 50px;
    height: 50px;
    background-color: rgb(255,255,255);
}

.topBanner {
    position: relative;
    height: 460px;
}
.scrollPicture {
    position: absolute;
}
.bannerProductList {
    position: absolute;
    width: 234px;
    height: 469px;
    background-color: rgba(0,0,0,0.1);
}
.bannerProductList li {
    position: relative;
    top: 4px;
    margin-left: 30px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: white;
}

.recommendedProducts {
    margin-top: 26px;
    margin-bottom: 30px;
    position: relative;
    height: 170px;

}
.recommendedProducts > div:nth-child(1) {
    width: 234px;
    height: 170px;
    background-color: rgb( 95, 87, 80);
}
.recommendedProducts > div:nth-child(n+2) {
    height: 170px;
    width: 316px;
}
.recommendedProducts > div:nth-child(n+2) img {
    height: 170px;
}
.recommendedProducts > div:nth-child(2) > img {
    position: absolute;
    left: 256px;
    top: 0px;
}

.recommendedProducts > div:nth-child(3) > img {
    position: absolute;
    left: 595px;
    top: 0px;
}

.recommendedProducts > div:nth-child(4) > img {
    position: absolute;
    left: 934px;
    top: 0px;
}
.recommendedProducts > div:nth-child(1) li {
    position: relative;
    top: 10px;
    left: 15px;
    float: left;
    width: 78px;
    height: 85px;
    color: white;
}
.recommendedProducts > div:nth-child(1) li img {
    width: 30px;
}
.recommendedProducts > div:nth-child(1) li p {
    position: relative;
    left: -5px;
}



.productsList .productsListTitle {
    height: 58px;
}
.productsList .productsListTitle > .columnName {
    float: left;
    line-height: 58px;
    font-size: 18px;
}
.productsList .productsListTitle > .seeMoreButton {
    float: right;
    line-height: 58px;
    font-size: 12px;
}
.productsList .productsListTitle > .seeMoreButton div {
    display: inline;
    margin-left: 30px;
}
.productsList > li > .littleBanner {
    height: 614px;
}
.videosBar ul {
    position: relative;
    height: 300px;
}
.videosBar ul > li {
    float: left;
    width: 296px;
    height: 285px;
    background-color:aquamarine;/*test*/
}
.videosBar ul > li:nth-child(n+2) {
    margin-left: 22px;
}
.videosBar > div:last-child {
    height: 10px;
}


.feetBar > .afterSaleBar > ul {
    height: 79px;
    border-bottom: 1px solid rgb(224,224,224);
}
.feetBar > .afterSaleBar li {
    float: left;
    width: 250px;
}
.feetBar > .afterSaleBar li > p {
    line-height: 79px;
    text-align: center;
}
.feetBar > .inSiteLinkAndContact {
    margin-top: 40px;
    /*margin-bottom: 40px;*/
    height: 170px;
}
.feetBar > .inSiteLinkAndContact > div {
    float: left;
}
.feetBar > .inSiteLinkAndContact > .inSiteLink > dl {
    float: left;
    height: 170px;
    width: 160px;
}
.feetBar > .inSiteLinkAndContact > .inSiteLink > dl > dt {
    color: rgb( 66, 66, 66);
    font-size: 20px;
    margin-bottom: 20px;
}
.feetBar > .inSiteLinkAndContact > .inSiteLink > dl > dd {
    color: rgb(117,117,117);
    font-size: 16px;
    line-height: 26px;
}
.feetBar > .inSiteLinkAndContact > .contact {
    box-sizing: border-box;
    width: 290px;
    border-left: 1px solid rgb(224,224,224);
}
.feetBar > .inSiteLinkAndContact > .contact > div {
    margin: 5px auto;
    text-align: center;
}
.feetBar > .inSiteLinkAndContact > .contact > div:nth-child(1) {
    font-size: 26px;
    color: rgb(255,103,  0);
}
.feetBar > .inSiteLinkAndContact > .contact > div:nth-child(2) {
    font-size: 14px;
}
.feetBar > .inSiteLinkAndContact > .contact > div:nth-child(3) {
    font-size: 16px;
    color: rgb(255,103,  0);
    height: 31px;
}
.feetBar > .inSiteLinkAndContact > .contact > div:nth-child(3) > span {
    position: relative;
    top: 7px;
    padding: 5px 15px;
    border: 2px solid rgb(255,103,  0);
}
.feetBar > .inSiteLinkAndContact > .contact > div:nth-child(4) {
    font-size: 16px;
}

.friendsLinkBar {
    position: relative;
    
}
.friendsLinkBar > .icon {
    position: absolute;
    top: 10px;
}
.friendsLinkBar > .text {
    position: absolute;
    top: 10px;
    left: 66px;
    font-size: 12px;
    line-height: 18px;
}
.friendsLinkBar > .text > p:nth-child(1) {
    color: rgb(117,117,117);
}
.friendsLinkBar > .text > p:nth-child(2) {
    color: rgb(176,176,176);
}
.friendsLinkBar > .slogan {
    position: absolute;
    left: 441px;
    top: 120px;
    padding: 30px;
}