* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
.outsideFrame {
    width: 1250px;
    margin: 0 auto;
}
.bgw {
    background-color: rgb(255,255,255);
}
.bgg {
    background-color: rgb(245,245,245);
}
.bgb {
    background-color: rgb( 51, 51, 51);
}
.leftFloat {
    float: left;
}
.rightFloat {
    float: right;
}
.cl {
    clear: both;
}

.titleBar {
    text-decoration: none;
    font-size: 13px;
    line-height: 40px;
    height: 40px;
    color: rgb(176,176,176);
}
.titleBar > div:nth-child(1) {
    width: 1000px;
}
.titleBar > div:nth-child(2) {
    width: 100px;
}
.titleBar > div:nth-child(3) {
    width: 150px;
}
.titleBar > div:nth-child(1) li, .titleBar > div:nth-child(3) li, .titleBar > div:nth-child(2) div {
    float: left;
}
.divLine {
    color: rgb( 66, 66, 66);
    margin: 0 5px;
}
.cartBackground {
    width: 100px;
    background-color: rgb( 66, 66, 66);
}
.cartBackground img {
    position: relative;
    top: 5px;
    margin-right: 8px;
    margin-left: 8px;
}

.headBar {
    position: relative;
    height: 100px;
    /*background-color:blue;/*test*/
}
.headBar > div:nth-child(1) {
    position: absolute;
    top: 22px;
    width: 56px;
}
.headBar > div:nth-child(2) {
    position: absolute;
    left: 230px;
    top: 31px;
    font-size: 17px;
}
.headBar > div:nth-child(2) li {
    float: left;
    margin: 10px;
}  
.headBar > div:nth-child(3) {
    position: relative;

}
.searchInput {
    position: relative;
    top: 25px;
    left:950px;
    border: 1px solid rgb(224,224,224);
    width: 248px;
    height: 48px;
}
.searchSubmit {
    position: relative;
    top: 25px;
    left: 946px;
    border: 1px solid rgb(224,224,224);
    width: 50px;
    height: 50px;
    background-color: rgb(255,255,255);
}

.banner {
    position: relative;
    height: 460px;
}
.scrollPicture {
    position: absolute;
}
.bannerProductList {
    position: absolute;
    width: 234px;
    height: 469px;
    background-color: rgba(0,0,0,0.1);
}
.bannerProductList li {
    position: relative;
    top: 4px;
    margin-left: 30px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: white;
}

.recommendedProducts {
    margin-top: 14px;
    position: relative;
    height: 170px;

}
.recommendedProducts > div:nth-child(1) {
    width: 234px;
    height: 170px;
    background-color: rgb( 95, 87, 80);
}
.recommendedProducts > div:nth-child(n+2) {
    border-left: 14px;
    height: 170px;
    width: 316px;
}
.recommendedProducts > div:nth-child(1) li {
    position: relative;
    top: 10px;
    left: 15px;
    float: left;
    width: 78px;
    height: 85px;
    color: white;
}
.recommendedProducts > div:nth-child(1) li img {
    width: 30px;
}
.recommendedProducts > div:nth-child(1) li p {
    position: relative;
    left: -5px;
    
}